<!DOCTYPE html>
<html>

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>E-mail Template</title>
   <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet" type="text/css">
   <style>
      #setmoreFooterContent:hover {
         text-decoration: underline;
      }
   </style>
</head>

<body>
   <table cellpadding="0" cellspacing="0" width="700" align="center" border="0"
      style="font-family: 'Open Sans', sans-serif; font-size:12px;margin-top:10px;">
      <tbody style="background-color:rgba(241, 245, 247, 0.5);vertical-align: top;line-height: 20px;">
         <tr>
            <td style="background-color:#ffffff;padding: 30px 40px;border: 1px solid #c2c2c2;border-radius: 7px;">
               <div style="border-bottom: 1px solid #e5e5e5;padding-bottom: 5px;margin-bottom: 20px;">
                  <h1 style="color:#4e5b63;font-size: 28px;margin: 15px 0px 0px;font-weight: 100;">Thank You</h1>
                  <h6 style="color:#4e5b63;font-size: 15px;margin: 25px 0px 10px;font-weight: 500;">Hi {{customer}},
                  </h6>
                  <p style="color:#788a95;font-size: 15px;margin: 10px 0px 15px;">Your appointment has been booked with
                     {{staff}}.</p>
               </div>
               <div style="border-bottom: 1px solid #e5e5e5;margin-bottom: 20px;padding-bottom: 15px;">
                  <div style="position: relative;display: inline-block;width: 100%;    margin-bottom: 6px;">
                     <label style="color:#788a95;font-size:15px;    margin-right: 1px;">When:</label>
                     <p style="display: inline-block;margin: 0;color:#637374;font-size:15px;">{{date}}</p>
                  </div>
                  <div style="position: relative;display: inline-block;width: 100%;    margin-bottom: 6px;">
                     <label style="color:#788a95;font-size:15px;    margin-right: 1px;">Service:</label>
                     <p style="display: inline-block;margin: 0;color:#637374;font-size:15px;">{{serviceName}}</p>
                  </div>
                  <div style="position: relative;display: inline-block;width: 100%;    margin-bottom:6px;">
                     <label style="color:#788a95;font-size:15px;    margin-right: 1px;">Provider:</label>
                     <p style="display: inline-block;margin: 0;color:#637374;font-size:15px;">{{staff}}</p>
                  </div>
               </div>
               <div style="border-bottom:1px solid #e5e5e5;margin-bottom: 20px;padding-bottom: 15px;">
                  <div style="position: relative;display: inline-block;width: 100%;    margin-bottom: 6px;">
                     <label style="color:#788a95;font-size:15px;    margin-right: 1px;">Customer:</label>
                     <p style="display: inline-block;margin: 0;color:#637374;font-size:15px;">{{customer}}</p>
                  </div>
               </div>
               <div>
                  <dl>
                     <dd style="color:#788a95;font-size:15px;margin: 0;">Sincerely, </dd>
                     <dd style="color:#788a95;font-size:15px;margin: 0;">{{staff}} </dd>
                  </dl>
               </div>
            </td>
         </tr>
         <tr>
            <td valign="top"
               style="width:100%;padding:0;border-style:solid none none none;border-top-width:1pt;border-top-color:#E1E1E4;">
               <div align="center">
                  <table border="0" cellspacing="0" cellpadding="0"
                     style="background-color:white;width:100%;border-collapse:collapse;">
                     <tbody>
                        <tr>
                           <td valign="top" style="padding:15pt 0.75pt 0.75pt 0.75pt;">
                              <p align="center"
                                 style="font-size:11pt;font-family:Calibri,sans-serif;text-align:center;margin:15pt 0 0 0;line-height:normal;line-height:18.0pt;">
                                 <span
                                    style="font-size: 11.5pt; font-family: Arial, sans-serif, serif, EmojiFont;">&nbsp;</span>
                              </p>
                           </td>
                           <td valign="top" style="padding:15pt 0.75pt 0.75pt 0.75pt;">
                              <p align="center"
                                 style="font-size:11pt;font-family:Calibri,sans-serif;text-align:center;margin:15pt 0 0 0;line-height:normal;line-height:18.0pt;">
                                 <span style="font-size: 11.5pt; font-family: Arial, sans-serif, serif, EmojiFont;">Made
                                    by <a href="https://uzmos.com" target="_blank" rel="noopener noreferrer"
                                       data-auth="NotApplicable"><span
                                          style="color:#434245;text-decoration:none;">Uzmos</span></a> <br>
                                    4330 Foster Gardens Ln, Katy, TX&nbsp;&nbsp;United States </span>
                              </p>
                           </td>
                           <td valign="top" style="padding:15pt 0.75pt 0.75pt 0.75pt;">
                              <p align="center"
                                 style="font-size:11pt;font-family:Calibri,sans-serif;text-align:center;margin:15pt 0 0 0;line-height:normal;line-height:18.0pt;">
                                 <span
                                    style="font-size: 11.5pt; font-family: Arial, sans-serif, serif, EmojiFont;">&nbsp;</span>
                              </p>
                           </td>
                        </tr>
                        <tr>
                           <td valign="top" style="padding:15pt 0.75pt 0.75pt 0.75pt;">
                              <p align="center"
                                 style="font-size:11pt;font-family:Calibri,sans-serif;text-align:center;margin:15pt 0 0 0;line-height:normal;line-height:18.0pt;">
                                 <span
                                    style="font-size: 11.5pt; font-family: Arial, sans-serif, serif, EmojiFont;">&nbsp;</span>
                              </p>
                           </td>
                           <td style="padding:0.75pt;"></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
</body>

</html>